<!-- NAVBAR -->
<nav>
    <i class="bx bx-menu"></i>
    <a href="#" class="nav-link"></a>
    <a href="#" class="profile">
      <span class="text"><%= user.name %></span>
    </a>
  </nav>
<!-- NAVBAR -->